.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.flexbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: grey;
    width: 50%;
}

.bookmark {
    background-color: darkslategrey;
    color: lightgrey;
    width: 75%;
    margin: 5px;
    border: 2px solid black;
}